@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kansas Medicaid State Plan A | KS Dept. of Health</title>

    <meta name="description" content="The Kansas Department of Health protects and promotes health and ensures access to medical, preventive and rehabilitative services for all citizens of the State of Louisiana." />

    <meta property="og:image" content="logo.png" />

    @*  <link href="/css/bootstrap.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600|Playfair+Display:400' rel='stylesheet' type='text/css'>
    <link href="~/css/ks-styles-hori.css?v=8" rel="stylesheet" type="text/css">
    @*<link href="/css/wysiwyg.css" rel="stylesheet" type="text/css">*@
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/ie8-and-down.css" />
    <![endif]-->
    <!-- Google Tag Manager -->
    @* <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M6QZVTF');</script>
        <!-- End Google Tag Manager -->
        <!-- MESH Google Tag Manager -->
        <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PHQ8XH2');</script>
        <!-- End MESH Google Tag Manager -->
        <!-- ROCKIT SCIENCE Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16661134212"></script>
        <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-16661134212'); </script>
        <link rel="stylesheet" href="https://df-messenger-prod-j6axfe3vgq-ue.a.run.app/style.css">
        <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script> *@
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    @* <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6QZVTF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> *@
    <!-- End Google Tag Manager (noscript) -->
    <div class="force-wrapper">
        <!--HEADER-->
        <header id="header" class="subhome accent-blue">
            <div class="">
                <div class="logo-bar">
                    <div class="row">
                        <div class="col-sm-8 mob-wdth">
                            <div class="logo-wrap">
                                <div class="seal"><a href="~/Home/Top"><img src="~/images/state-seal.gif" alt="Kansas State Seal"></a></div>
                                <div class="logo"><a href="~/Home/Top"><img src="~/images/kansas-logo.svg" alt="Department of Health and Hospitals logo"></a></div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6 mob-wdth">
                            <div class="rt-content">
                                <div class="wrapper">
                                    <div class="sec-bar sec-titles pull-right">
                                        @* <span>Surgeon&nbsp;General&nbsp;<strong>RALPH&nbsp;L.&nbsp;ABRAHAM,&nbsp;M.D.</strong></span> <span class="sec-divider">|</span> <span>Secretary&nbsp;<strong>MICHAEL&nbsp;HARRINGTON</strong></span> *@
                                        @* <span>Surgeon&nbsp;General&nbsp;<strong>ABC M.D.</strong></span> <span class="sec-divider">|</span> *@ <span>Secretary&nbsp;<strong>XYZ</strong></span>

                                    </div>
                                </div>
                                @* <div class="wrapper">
                                    <a class="pull-right" href="/">
                                    <div class="btn dhh"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to KS</div>
                                    </a>
                                    </div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-header">
                <div class="">
                    <div class="wrapper">
                        <div>
                            <div>

                                <div class="title">Kansas Department of Health and Environment (Medicaid)</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-bar">
                <div class="">

                    @* <a href="#">Kansas.gov</a> &gt; <a href="/">KS</a>
                        &gt; <a href="/index.cfm/subhome/1">Kansas Department of Health and Environment (Medicaid)</a> *@
                    <span>Kansas Department of Health and Environment (Medicaid)</span>
                </div>
            </div>
            <div class="row">
                <div>
                    <nav id="secondary-nav" class="secondary-nav collapse navbar-collapse">

                        <ul>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/Top" tabindex="-1" shpid="1" class="link-off">About Medicaid</a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">For Providers </a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">For Children &amp; Families</a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">For Women</a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">For Long-Term Care</a>

                                <ul class="dropdown-menu">

                                    <li class="menu-item"><a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">Estate Recovery</a></li>
                                    @*<li class="menu-item"><a href="/UnderConstruction" tabindex="-1" shpid="1" class="link-off">Department</a></li>*@

                                </ul>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">Medicaid Behavioral Health</a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">Pharmacy</a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">Report Abuse or Neglect</a>

                            </li>

                        </ul>

                    </nav>
                </div>

            </div>
            <div class="row">
                <div >
                    <div class="col-sm-12">
                        <p><span class="head">Medicaid State Plan</span></p>
                    </div>
                </div>
            </div>
        </header>
        <!--/HEADER-->
        <!--CONTENT-->
        <div>
            <section id="news" class="accent-blue">
                <div class="container">
                    <div class="row">
                        <br />
                    </div>
                    <br />
                    <div class="row">
                        <div class="row main-content">
                            <div class="col-sm-12">
                                <table style="border: 1px solid #817e7f; height: 29px; background-color: #a0c8cc;" border="1" width="348" align="right">
                                    <tbody>
                                        <tr style="height: 28px;">
                                            <td style="width: 146px; height: 28px; text-align: center; background-color: #36d3c9;"><a href="/Home/Index"><strong><span style="color: #ffffff;">Medicaid State Plan</span></strong></a></td>
                                            <td style="width: 108px; height: 28px; text-align: center; background-color: #00b388;"><a href="/Home/Amendments"><span style="color: #ffffff;">Amendments</span></a></td>
                                            <td style="width: 93px; height: 28px; text-align: center; background-color: #00b388;"><a class="lnk-accent01" href="/UnderConstruction"><span style="color: #ffffff;">Policy Home</span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                @*  <table style="height: 28px;" width="162">
                                    <tbody>
                                    <tr>
                                    <td style="width: 112px; height: 28px; text-align: center; background-color: #00b388;"><strong><a class="lnk-accent01" href="/UnderConstructionTop" target="_blank" rel="noopener noreferrer"><span style="color: #ffffff;">SEND QUESTIONS &amp; COMMENTS</span></a></strong></td>
                                    </tr>
                                    </tbody>
                                    </table> *@
                                <p class="normal"><br /><br class="blank" /><br class="blank" /></p>
                                <p><span class="wysiwyg-subbar">Section 1 - Single State Agency Organization</span></p>
                                <ul>
                                    <li>
                                        Section 1.1&nbsp;- <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec1/Attachment1.1.pdf" target="_blank" rel="noopener noreferrer">Designation and Authority</a><br />
                                        <ul>
                                            <li>Attachment 1.1a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec1/Attachment1.1a.pdf" target="_blank" rel="noopener noreferrer">Certification of Single State Agency</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        Section 1.2 -&nbsp;Organization for Administration<br />
                                        <ul>
                                            <li>Attachment 1.2a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec1/Attachment1.2-A.pdf" target="_blank" rel="noopener noreferrer">State Agency Organization and Functions</a></li>
                                            <li>Attachment 1.2b - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec1/Attachment1.2-B.pdf" target="_blank" rel="noopener noreferrer">Organization and Function of Bureau of Health Services Financing</a></li>
                                            <li>Attachment 1.2c - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec1/Attachment1.2C.pdf" target="_blank" rel="noopener noreferrer">Professional Medical and Supporting Staff</a></li>
                                            <li>Attachment 1.2d - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec1/Attachment1.2D.pdf" target="_blank" rel="noopener noreferrer">Description of Staff Making Eligibility Decisions</a></li>
                                        </ul>
                                    </li>
                                    <li>Section 1.3 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec1/Section1.3.pdf" target="_blank" rel="noopener noreferrer">Statewide Operation</a></li>
                                    <li>Section 1.4 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec1/Section1.4.pdf" target="_blank" rel="noopener noreferrer">State Medical Care Advisory Committee</a></li>
                                    <li>Section 1.5 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec1/Section1.5.pdf" target="_blank" rel="noopener noreferrer">Pediatric Immunization Program</a></li>
                                    <li>Section 1.6 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec1/Section1.6.pdf" target="_blank" rel="noopener noreferrer">Tribal Consultation of SPA Process</a></li>
                                </ul>
                                <p><span class="wysiwyg-subbar">Section 2 - Coverage and Eligibility</span></p>
                                <ul>
                                    <li>Section 2.1 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Section2.1.pdf" target="_blank" rel="noopener noreferrer">Application Determination of Eligibility and Furnishing Medicaid</a></li>
                                    <li>
                                        Section 2.2 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Section2.2.pdf" target="_blank" rel="noopener noreferrer">Coverage and Conditions of Eligibility </a><br />
                                        <ul>
                                            <li>
                                                Attachment 2.2a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.2A.pdf" target="_blank" rel="noopener noreferrer">Groups Covered and Agencies Responsible for Eligibility</a><br />
                                                <ul>
                                                    <li>Supplement 1 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.2ASupplement1.pdf" target="_blank" rel="noopener noreferrer">Reasonable Classifications of Individuals</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Section 2.3 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Section2.3.pdf" target="_blank" rel="noopener noreferrer">Residence</a></li>
                                    <li>Section 2.4 -&nbsp;<a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Section2.4.pdf" target="_blank" rel="noopener noreferrer">Blindness</a></li>
                                    <li>Section 2.5 -&nbsp;<a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Section2.5.pdf" target="_blank" rel="noopener noreferrer">Disability</a></li>
                                    <li>
                                        Section 2.6 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Section2.6.pdf" target="_blank" rel="noopener noreferrer">Financial Eligibility</a><br />
                                        <ul>
                                            <li>
                                                Attachment 2.6A <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6A.pdf" target="_blank" rel="noopener noreferrer">Eligibility Conditions and Requirements </a><br />
                                                <ul>
                                                    <li>Supplement 1 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement01.pdf" target="_blank" rel="noopener noreferrer">Eligibility Income Levels</a></li>
                                                    <li>Supplement 2 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement02.pdf" target="_blank" rel="noopener noreferrer">Eligibility Resource Levels</a></li>
                                                    <li>Supplement 3 - <a href="/assets/medicaid/StatePlan/Sec2/Attachment2.6-ASupplement3.pdf" target="_blank" rel="noopener noreferrer">Reasonable Limits</a></li>
                                                    <li>Supplement 5 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement05.pdf" target="_blank" rel="noopener noreferrer">Methodologies for Treatment of Income and Resources that Differ from SSI</a></li>
                                                    <li>Supplement 5a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement05a.pdf" target="_blank" rel="noopener noreferrer">Methodologies for Treatment of Resources for Individuals with Income up to a Percentage of FPL</a></li>
                                                    <li>Supplement 6 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement06.pdf" target="_blank" rel="noopener noreferrer">Standards for Optional State Supplementary Payments</a></li>
                                                    <li>Supplement 7 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement07.pdf" target="_blank" rel="noopener noreferrer">Categorically Needy who are Covered under Requirements more Restrictive than SSI</a></li>
                                                    <li>Supplement 8a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement08a.pdf" target="_blank" rel="noopener noreferrer">More Liberal Methods of Treating Income under 1902(r)(2) of the Act</a></li>
                                                    <li>Supplement 8b - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement08b.pdf" target="_blank" rel="noopener noreferrer">More Liberal Methods of Treating Resources under 1902(r)(2) of the Act</a></li>
                                                    <li>Supplement 8c - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement08c.pdf" target="_blank" rel="noopener noreferrer">State Long-Term Care Insurance Partnership</a></li>
                                                    <li>Supplement 9 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement09.pdf" target="_blank" rel="noopener noreferrer">Transfer of Resources</a></li>
                                                    <li>Supplement 9a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement09a.pdf" target="_blank" rel="noopener noreferrer">Transfer of Assets</a></li>
                                                    <li>Supplement 10 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement10.pdf" target="_blank" rel="noopener noreferrer">Consideration of Medicaid Qualifying Trusts - Undue Hardship</a></li>
                                                    <li>Supplement 12 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement12.pdf" target="_blank" rel="noopener noreferrer">Variations from the Basic Personal Needs Allowance</a></li>
                                                    <li>Supplement 13 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement13.pdf" target="_blank" rel="noopener noreferrer">Section 1924 Provisions</a></li>
                                                    <li>Supplement 14 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement14.pdf" target="_blank" rel="noopener noreferrer">Income and Resource Requirements for Tuberculosis Infected Individuals</a></li>
                                                    <li>Supplement 15 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement15.pdf" target="_blank" rel="noopener noreferrer">Treatment of Optional Groups of Qualified Aliens</a></li>
                                                    <li>Supplement 16 - <span class="lnk-accent01"><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement16.pdf" target="_blank" rel="noopener noreferrer">Eligibility under Section 1931 of the Act</a></span></li>
                                                    <li>Supplement 17 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Attachment2.6ASupplement17.pdf" target="_blank" rel="noopener noreferrer">Disqualification for Long-Term Care Assistance for Individuals with Substantial Home Equity</a></li>
                                                    <li>Supplement 18 &ndash; <a href="/assets/medicaid/StatePlan/Sec2/Supplement18-FederalMedicalAssistancePercentage-FMAP.pdf" target="_blank" rel="noopener noreferrer">Federal Medical Assistance Percentage (FMAP)</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Section 2.7 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Section2.7.pdf" target="_blank" rel="noopener noreferrer">Medicaid Furnished Out of State</a></li>
                                    <li>Section 2.8 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/Section2.8.pdf" target="_blank" rel="noopener noreferrer">Modified Adjusted Gross Income (MAGI) </a></li>
                                </ul>
                                <p><span class="wysiwyg-subbar">Section&nbsp;2 - MMDL and MACPro System Approvals</span></p>
                                <p class="sub-head">Eligibility</p>
                                <ul>
                                    <li>MACPro - <a href="/assets/medicaid/StatePlan/Sec2/MMDL/GeneralEligibilityRequirements-Application.pdf" target="_blank" rel="noopener noreferrer">General Eligibility Requirements - Application</a></li>
                                    <li>
                                        MACPro - Eligibility and Enrollment Processes
                                        <ul>
                                            <li><a href="/assets/medicaid/StatePlan/Sec2/24-0004MACProStatePlanPage-ContinuousEligiblity.pdf" target="_blank" rel="noopener noreferrer">Continuous Eligibility for Children</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/Sec2/MMDL/12MonthsPostpartumContinuousEligibilityforPregnantWomen.pdf" target="_blank" rel="noopener noreferrer">Continuous Eligibility for Pregnant Women and Extended Postpartum Coverage</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        MACPro &ndash; Eligibility Groups &ndash; Mandatory Coverage
                                        <ul>
                                            <li><a href="/assets/medicaid/StatePlan/Amend2023/23-0004/23-0004FormerFosterCareChildren.pdf" target="_blank" rel="noopener noreferrer">Former Foster Care Children</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/MACPro/QualifiedMedicareBeneficiaries.pdf" target="_blank" rel="noopener noreferrer">Qualified Medicare Beneficiaries</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/MACPro/QualifiedDisabledandWorkingIndividuals.pdf" target="_blank" rel="noopener noreferrer">Qualified Disabled and Working Individuals</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/MACPro/SpecifiedLowIncomeMedicareBeneficiaries.pdf" target="_blank" rel="noopener noreferrer">Specified Low Income Medicare Beneficiaries</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/MACPro/QualifyingIndividuals.pdf" target="_blank" rel="noopener noreferrer">Qualifying Individuals</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        MACPro &ndash; Eligibility Groups &ndash; Optional Coverage
                                        <ul>
                                            <li><a href="/assets/medicaid/StatePlan/Sec2/Act421CMO.pdf" target="_blank" rel="noopener noreferrer">Children under Age 19 with a Disability</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/Sec2/OptionalCoverage/AgeandDisability-RelatedPovertyLevel.pdf" target="_blank" rel="noopener noreferrer">Age and Disability-Related Poverty Level</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/Sec2/OptionalCoverage/IndividualsEligibleforCashExceptforInstitutionalization.pdf" target="_blank" rel="noopener noreferrer">Individuals Eligible for Cash Except for Institutionalization</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/Sec2/OptionalCoverage/IndividualsinInstitutionsEligibleunderaSpecialIncomeLevel.pdf" target="_blank" rel="noopener noreferrer">Individuals in Institutions Eligible under a Special Income Level</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/Sec2/OptionalCoverage/MedicallyNeedyPopulationBasedonAgeBlindnessorDisability.pdf" target="_blank" rel="noopener noreferrer">Medically Needy Population Based on Age, Blindness or Disability</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/Sec2/OptionalCoverage/MedicallyNeedy.pdf" target="_blank" rel="noopener noreferrer">Medically Needy</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/Sec2/OptionalEligibilityGroups.pdf" target="_blank" rel="noopener noreferrer">Optional Eligibility Groups</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/Sec2/OptionalCoverage/PACEParticipants.pdf" target="_blank" rel="noopener noreferrer">PACE Participants</a></li>
                                            <li><a href="/assets/medicaid/StatePlan/Sec2/OptionalCoverage/TickettoWorkBasic.pdf" target="_blank" rel="noopener noreferrer">Ticket to Work Basic</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        MMDL SPAs
                                        <ul>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/A1-A3MedicaidAdministration.pdf" target="_blank" rel="noopener noreferrer">A1 - A3 Medicaid Administration</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S10MAGI-BasedIncomeMethodologies.pdf" target="_blank" rel="noopener noreferrer">S10 - MAGI-Based Income Methodologies</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S14AFDCIncomeStandards.pdf" target="_blank" rel="noopener noreferrer">S14 - AFDC Income Standards</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S21PresumptiveEligibilitybyHospitals.pdf" target="_blank" rel="noopener noreferrer">S21 - Presumptive Eligibility by Hospitals</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S25EligibilityGroups-MandatoryCoverage-ParentsandOtherCaretakerRelatives.pdf" target="_blank" rel="noopener noreferrer">S25 - Mandatory Coverage - Parents and Other Caretaker Relatives</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S28EligibilityGroups-MandatoryCoverage-PregnantWomen.pdf" target="_blank" rel="noopener noreferrer">S28 - Mandatory Coverage - Pregnant Women</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S30EligibilityGroups-MandatoryCoverage-InfantsandChildrenUnderAge19.pdf" target="_blank" rel="noopener noreferrer">S30 - Mandatory Coverage - Infants and Children Under Age 19</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S32EligibilityGroups-MandatoryCoverage-AdultGroup.pdf" target="_blank" rel="noopener noreferrer">S32 - Mandatory Coverage - Adult Group</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S50EligibilityGroups-OptionsforCoverage-Individualsabove133FPL.pdf" target="_blank" rel="noopener noreferrer">S50 - Options for Coverage - Individuals above 133 FPL</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S51EligibilityGroups-OptionsforCoverage-OptionalCoverageofParentsandOtherCaretakerRelatives.pdf" target="_blank" rel="noopener noreferrer">S51 - Options for Coverage - Optional Coverage of Parents and Other Caretaker Relatives</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S52EligibilityGroups-OptionsforCoverage-ReasonableClassificationofIndividualsUnderAge21.pdf" target="_blank" rel="noopener noreferrer">S52 - Options for Coverage - Reasonable Classification of individuals Under Age 21</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S53EligibilityGroups-OptionsforCoverage-ChildrenwithNonIV-EAdoptionAssistance.pdf" target="_blank" rel="noopener noreferrer">S53 - Options for Coverage - Children with Non IV-E Adoption Assistance</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S54EligibilityGroups-OptionsforCoverage-OptionalTargetedLowIncomeChildren.pdf" target="_blank" rel="noopener noreferrer">S54 - Options for Coverage - Optional Targeted Low Income Children</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S55EligibilityGroups-OptionsforCoverageIndividualswithTuberculosis.pdf" target="_blank" rel="noopener noreferrer">S55 - Options for Coverage - Individuals with Tuberculosis</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S57EligibilityGroups-OptionsforCoverage-IndependentFosterCareAdolescents.pdf" target="_blank" rel="noopener noreferrer">S57 - Options for Coverage - Independent Foster Care Adolescents</a></li>
                                            <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S59EligibilityGroups-OptionsforCoverage-IndividualsEligibleforFamilyPlanningServices.pdf" target="_blank" rel="noopener noreferrer">S59 - Options for Coverage - Individuals Eligible for Family Planning Services</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S88Non-FinancialEligibilityStateResidency.pdf" target="_blank" rel="noopener noreferrer">S88 - Non-Financial Eligibility State Residency</a></li>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S89Non-FinancialEligibilityCitizenshipandNon-CitizenEligibility.pdf" target="_blank" rel="noopener noreferrer">S89 - Non-Financial Eligibility Citizenship and Non-citizen Eligibility</a></li>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec2/MMDL/S94GeneralEligibilityRequirements-EligibilityProcess.pdf" target="_blank" rel="noopener noreferrer">S94 - General Eligibility Requirements - Eligibility Process</a></li>
                                </ul>
                                <p><span class="wysiwyg-subbar">Section 3 - Services: General Provisions</span></p>
                                <ul>
                                    <li>
                                        Section 3.1 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Section3.1.pdf" target="_blank" rel="noopener noreferrer">Amount, Duration and Scope of Services</a><br />
                                        <ul>
                                            <li>
                                                Attachment 3.1a&nbsp; - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment_3.1-A-Amount_Duration_and_Scope_of_Services_for_Categorically_Needy.pdf" target="_blank" rel="noopener noreferrer">Amount Duration and Scope of Services for Categorically Needy</a><br />
                                                <ul>
                                                    <li>Item 1 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem1.pdf" target="_blank" rel="noopener noreferrer">Inpatient Hospital Services</a></li>
                                                    <li>Item 2a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment_3.1-A_Item_2a_1-12-16.pdf" target="_blank" rel="noopener noreferrer">Outpatient Hospital Services</a></li>
                                                    <li>Item 2b - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem2b.pdf" target="_blank" rel="noopener noreferrer">Rural Health Clinic Services</a></li>
                                                    <li>Item 2c - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem2c.pdf" target="_blank" rel="noopener noreferrer">FQHC Services</a></li>
                                                    <li>Item 3 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem3.pdf" target="_blank" rel="noopener noreferrer">Other Laboratory and X-Ray Services</a></li>
                                                    <li>Item 4a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem4a.pdf" target="_blank" rel="noopener noreferrer">Skilled Nursing and Surgical Services for Individuals 21 or Older</a></li>
                                                    <li>Item 4b - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem4b.pdf" target="_blank" rel="noopener noreferrer">EPSDT Services</a></li>
                                                    <li>Item 4c - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem4c.pdf" target="_blank" rel="noopener noreferrer">Family Planning</a></li>
                                                    <li>Item 5 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem5.pdf" target="_blank" rel="noopener noreferrer">Physician Services</a></li>
                                                    <li>Item 5b - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem5b.pdf" target="_blank" rel="noopener noreferrer">Medical and Surgical Services Furnished by a Dentist</a></li>
                                                    <li>Item 6 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem6.pdf" target="_blank" rel="noopener noreferrer">Medical and Remedial Care Furnished by Other Licensed Practitioners</a></li>
                                                    <li>Item 7 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem7.pdf" target="_blank" rel="noopener noreferrer">Home Health Care Services</a></li>
                                                    <li>Item 9 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem9.pdf" target="_blank" rel="noopener noreferrer">Clinic Services</a></li>
                                                    <li>Item 12a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment_3.1-A-Item_12a-Prescribed_Drugs.pdf" target="_blank" rel="noopener noreferrer">Prescribed Drugs</a></li>
                                                    <li>Item 12b - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem12b.pdf" target="_blank" rel="noopener noreferrer">Dentures</a></li>
                                                    <li>Item 12c - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem12c.pdf" target="_blank" rel="noopener noreferrer">Prosthetic Devices</a></li>
                                                    <li>Item 13c - <a href="/assets/medicaid/StatePlan/Sec3/Attachment3.1-AItem13c.pdf" target="_blank" rel="noopener noreferrer">Preventive Services</a></li>
                                                    <li>Item 13d - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1-A-Item13d-RehabilitativeServices.pdf" target="_blank" rel="noopener noreferrer">Rehabilitative Services</a></li>
                                                    <li>Item 14a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem14a.pdf" target="_blank" rel="noopener noreferrer">Services for Individuals 65 or older in Institutions for Mental Diseases</a></li>
                                                    <li>Item 15 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem15.pdf" target="_blank" rel="noopener noreferrer">Intermediate Care Facility Services</a></li>
                                                    <li>Item 16 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem16.pdf" target="_blank" rel="noopener noreferrer">Inpatient Psychiatric Facility Services for Under 21</a></li>
                                                    <li>Item 17 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem17.pdf" target="_blank" rel="noopener noreferrer">Nurse Midwife Services</a></li>
                                                    <li>Item 18 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem18.pdf" target="_blank" rel="noopener noreferrer">Hospice Care Services</a></li>
                                                    <li>Item 19 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem19.pdf" target="_blank" rel="noopener noreferrer">Targeted Case Management Services</a></li>
                                                    <li>Item 19b - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem19b.pdf" target="_blank" rel="noopener noreferrer">Special Tuberculosis-Related Services for Tuberculosis Infected Individuals</a></li>
                                                    <li>Item 20a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem20a.pdf" target="_blank" rel="noopener noreferrer">Pregnancy Related and Postpartum Services</a></li>
                                                    <li>Item 20b - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem20b.pdf" target="_blank" rel="noopener noreferrer">Extended Services for Pregnant Women</a></li>
                                                    <li>Item 23 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem23.pdf" target="_blank" rel="noopener noreferrer">Nurse Practitioner Services</a></li>
                                                    <li>Item 24a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Amend2021/21-0027/Attachment3.1-A-Item24a-MedicalTransportationServices.pdf" target="_blank" rel="noopener noreferrer">Medical Transportation Services</a></li>
                                                    <li>Item 24d - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1AItem24d.pdf" target="_blank" rel="noopener noreferrer">Skilled Nursing Facility Services for Individuals Under 21</a></li>
                                                    <li>Item 26 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1-AItem26.pdf" target="_blank" rel="noopener noreferrer">Personal Care Services&nbsp; </a></li>
                                                    <li>Supplement 1 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment_3.1-A_Supplement_1_TargetedCaseManagement.pdf" target="_blank" rel="noopener noreferrer">Targeted Case Management</a></li>
                                                    <li>Supplement 2 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1ASupplement2.pdf">Self-Directed Personal Assistance Services</a></li>
                                                    <li>Supplement 3 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1ASupplement3.pdf" target="_blank" rel="noopener noreferrer">PACE</a></li>
                                                    <li>Supplement 4 - <a href="/assets/medicaid/StatePlan/Sec3/Attachment3.1-A_Supplement4_Medication-AssistedTreatment.pdf">Medication-Assisted Treatment</a></li>
                                                </ul>
                                            </li>
                                            <li>Attachment 3.1b - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1B.pdf" target="_blank" rel="noopener noreferrer">Amount, Duration and Scope of services Provided to Medically Needy Groups</a></li>
                                            <li>Attachment 3.1c - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1C.pdf" target="_blank" rel="noopener noreferrer">Standards and Methods for Assuring High Quality Care</a></li>
                                            <li>Attachment 3.1d - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Amend2021/21-0027/Attachment3.1-DMethodsofProvidingTransportation.pdf" target="_blank" rel="noopener noreferrer">Methods of Providing Transportation</a></li>
                                            <li>Attachment 3.1e - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1E.pdf" target="_blank" rel="noopener noreferrer">Standards for Coverage of Organ&nbsp;Transplants</a></li>
                                            <li>Attachment 3.1f - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.1-F.pdf" target="_blank" rel="noopener noreferrer">Managed Care</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p>Section 3.2 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Section3.2.pdf" target="_blank" rel="noopener noreferrer">Coordination of Medicaid with Medicare and Other Insurance</a></p>
                                        <ul>
                                            <li>Attachment 3.2a - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Attachment3.2A.pdf" target="_blank" rel="noopener noreferrer">Coordination of Medicare</a></li>
                                        </ul>
                                    </li>
                                    <li>Section 3.3 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Section3.3.pdf" target="_blank" rel="noopener noreferrer">Medicaid for Individuals 65 or Over in Institutions for Mental Disease</a></li>
                                    <li>Section 3.4 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Section3.4.pdf" target="_blank" rel="noopener noreferrer">Special Requirements Applicable to Sterilization Procedures</a></li>
                                    <li>Section 3.5 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Section3.5.pdf" target="_blank" rel="noopener noreferrer">Families Receiving Extended Medicaid Benefits</a></li>
                                    <li>Section 3.6 - <a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/Section3.6.pdf" target="_blank" rel="noopener noreferrer">Additional Amounts for Nursing Facility Residents</a></li>
                                </ul>
                                <p><span class="wysiwyg-subbar">Section&nbsp;3 - MMDL System Approvals</span></p>
                                <p class="sub-head">Alternative Benefit Plan (ABP)</p>
                                <ul>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/MMDL/ABP1AlternativeBenefitPlanPopulations.pdf" target="_blank" rel="noopener noreferrer">ABP1 - Alternative Benefit Plan Populations</a></li>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/MMDL/ABP2aVoluntaryBenefitPackageSelectionAssurances-EligibilityGroupUnder1902.pdf" target="_blank" rel="noopener noreferrer">ABP2a - Voluntary Benefit Package Selection Assurances - Eligibility Group Under 1902</a></li>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/MMDL/ABP3SelectionofBenchmarkBenefitPackageorBenchmark-EquivalentBenefitPackage.pdf" target="_blank" rel="noopener noreferrer">ABP3 - Selection of Benchmark Benefit Package or Benchmark-Equivalent Benefit Package</a></li>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/MMDL/ABP4AlternativeBenefitPlanCost-Sharing.pdf" target="_blank" rel="noopener noreferrer">ABP4 - Alternative Benefit Plan Cost-Sharing</a></li>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/MMDL/ABP5BenefitsDescription.pdf" target="_blank" rel="noopener noreferrer">ABP5 - Benefits Description</a></li>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/MMDL/ABP7BenefitsAssurances.pdf" target="_blank" rel="noopener noreferrer">ABP7 - Benefits Assurances</a></li>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/MMDL/ABP8ServiceDeliverySystems.pdf" target="_blank" rel="noopener noreferrer">ABP8 - Service Delivery Systems</a></li>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/MMDL/ABP9EmployerSponsoredInsuranceandPaymentofPremiums.pdf" target="_blank" rel="noopener noreferrer">ABP9 - Employer Sponsored Insurance and Payment of Premiums</a></li>
                                    <li><a class="lnk-accent01" href="/assets/medicaid/StatePlan/Sec3/MMDL/ABP11PaymentMethodology.pdf" target="_blank" rel="noopener noreferrer">ABP11 - Payment Methodology</a></li>
                                </ul>
                                <p><span class="wysiwyg-subbar"><span style="color: #3b3b3b;"><a class="lnk-accent01" href="/UnderConstructionTop"><span style="color: #333333;">Continue to State Plan Sections 4 - 7</span></a></span></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                @* <a href="~/Home/UnderConstructionTop" class="feedback-modal-btn" data-toggle="modal" data-target="#feedback-modal">Feedback</a>
                    <span data-acsb="trigger" class="side-accessibility-btn" title="Accessibility Options">Accessibility</span> *@
            </section>
        </div>
        <!--/CONTENT-->
    </div>
    <!--FOOTER-->
    <footer id="footer">
        <div class="footer-top">
            <div class="">
                <div class="txt">
                    <!--Google Translate-->
                    <div style="text-align:center; display:block; padding: 12px 0 10px 23px;pointer-events:none">
                        <div id="google_translate_element"></div>
                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'de,el,en,es,fr,it,ja,ko,la,tl,vi,zh-CN,zh-TW,ar', gaTrack: true, gaId: 'UA-3632381-1' }, 'google_translate_element');
                            }
                        </script>
                        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    </div>
                    <a href="~/Home/UnderConstructionTop">Privacy Policy</a> | <a href="~/Home/UnderConstructionTop">Disclaimer</a><br>
                    @* <strong>Mailing Address:</strong> Louisiana Department of Health | P. O. Box 629 | Baton Rouge, LA 70821-0629<br><address> *@
                    <strong>Mailing Address:</strong> Kansas Mailing address<br><address>
                        @* <strong>Physical Address:</strong> 628 N. 4th Street | Baton Rouge, LA 70802 | PHONE: 225-342-9500 | FAX: 225-342-5568<br>  <strong>Medicaid Customer Service </strong><em>1-888-342-6207</em> |  <strong>Healthy Louisiana</strong> <em>1-855-229-6848</em> *@
                        <strong>Physical Address:</strong> Office address<br>  <strong>Medicaid Customer Service PROVIDER</strong><em>800 933 6593</em> |  <strong>MEMBER</strong> <em>800 766 9012</em>
                        <br>
                    </address>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        <div id="siteCredits"><a href="~/Home/Top" target="_blank">Kansas Medicaid Site</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--/FOOTER-->
    @*     <div id="feedback-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div> *@

    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="/js/retina.min.js"></script>
        <script src="/js/navigation.js"></script>
        <script src="/js/jquery.placeholder.min.js"></script>
        <script src="/js/common.js?u=2"></script>
        <script src="/js/feedback.js"></script>
        <script src="/js/subhome_carousel.js?u=1"></script>*@

    @*     <script src="https://www.google.com/recaptcha/api.js?render=explicit"></script>

        <script>
        //accessibility button - code from client
        (function(document, tag) { var script = document.createElement(tag); var element = document.getElementsByTagName('body')[0]; script.src = 'https://acsbap.com/api/app/assets/js/acsb.js'; script.async = true; script.defer = true; (typeof element === 'undefined' ? document.getElementsByTagName('html')[0] : element).appendChild(script); script.onload = function() { acsbJS.init({ statementLink : '', feedbackLink : '', footerHtml : '', hideMobile : false, hideTrigger : true, language : 'en', position : 'right', leadColor : '#0d2b3f', triggerColor : '#16828c', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'center', triggerIcon : 'settings', triggerSize : 'medium', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'left', triggerPositionY : 'center', triggerOffsetX : 0, triggerOffsetY : 0, triggerRadius : '0' } }); };}(document, 'script'));
        </script>
        <script src="https://df-messenger-prod-j6axfe3vgq-ue.a.run.app/index.js"></script> *@
    <!-- SUB HOME -->

</body>
</html>
