@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kansas Medicaid State Plan A | KS Dept. of Health</title>

    <meta name="description" content="The Kansas Department of Health protects and promotes health and ensures access to medical, preventive and rehabilitative services for all citizens of the State of Louisiana." />

    <meta property="og:image" content="logo.png" />

    @*  <link href="/css/bootstrap.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600|Playfair+Display:400' rel='stylesheet' type='text/css'>
    <link href="~/css/ks-styles-hori.css?v=8" rel="stylesheet" type="text/css">
    @*<link href="/css/wysiwyg.css" rel="stylesheet" type="text/css">*@
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/ie8-and-down.css" />
    <![endif]-->
    <!-- Google Tag Manager -->
    @* <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M6QZVTF');</script>
        <!-- End Google Tag Manager -->
        <!-- MESH Google Tag Manager -->
        <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PHQ8XH2');</script>
        <!-- End MESH Google Tag Manager -->
        <!-- ROCKIT SCIENCE Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16661134212"></script>
        <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-16661134212'); </script>
        <link rel="stylesheet" href="https://df-messenger-prod-j6axfe3vgq-ue.a.run.app/style.css">
        <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script> *@
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    @* <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6QZVTF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> *@
    <!-- End Google Tag Manager (noscript) -->
    <div class="force-wrapper">
        <!--HEADER-->
        <header id="header" class="subhome accent-blue">
            <div class="">
                <div class="logo-bar">
                    <div class="row">
                        <div class="col-sm-8 col-xs-6 mob-wdth">
                            <div class="logo-wrap">
                                <div class="seal"><a href="~/Home/Top"><img src="~/images/state-seal.gif" alt="Kansas State Seal"></a></div>
                                <div class="logo"><a href="~/Home/Top"><img src="~/images/kansas-logo.svg" alt="Department of Health and Hospitals logo"></a></div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6 mob-wdth">
                            <div class="rt-content">
                                <div class="wrapper">
                                    <div class="sec-bar sec-titles pull-right">
                                        @* <span>Surgeon&nbsp;General&nbsp;<strong>RALPH&nbsp;L.&nbsp;ABRAHAM,&nbsp;M.D.</strong></span> <span class="sec-divider">|</span> <span>Secretary&nbsp;<strong>MICHAEL&nbsp;HARRINGTON</strong></span> *@
                                        @* <span>Surgeon&nbsp;General&nbsp;<strong>ABC M.D.</strong></span> <span class="sec-divider">|</span> *@ <span>Secretary&nbsp;<strong>XYZ</strong></span>

                                    </div>
                                </div>
                                @* <div class="wrapper">
                                    <a class="pull-right" href="/">
                                    <div class="btn dhh"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to KS</div>
                                    </a>
                                    </div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-header">
                <div class="">
                    <div class="wrapper">
                        <div>
                            <div>

                                <div class="title">Kansas Department of Health and Environment (Medicaid)</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-bar">
                <div class="">

                    @* <a href="#">Kansas.gov</a> &gt; <a href="/">KS</a>
                        &gt; <a href="/index.cfm/subhome/1">Kansas Department of Health and Environment (Medicaid)</a> *@
                    <span>Kansas Department of Health and Environment (Medicaid)</span>
                </div>
            </div>
            <div class="row">
                <div>
                    <nav id="secondary-nav" class="secondary-nav collapse navbar-collapse">

                        <ul>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/Top" tabindex="-1" shpid="1" class="link-off">About Medicaid</a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">For Providers </a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">For Children &amp; Families</a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">For Women</a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">For Long-Term Care</a>

                                <ul class="dropdown-menu">

                                    <li class="menu-item"><a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">Estate Recovery</a></li>

                                </ul>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">Medicaid Behavioral Health</a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">Pharmacy</a>

                            </li>

                            <li class="menu-item dropdown-submenu">
                                <a href="~/Home/UnderConstructionTop" tabindex="-1" shpid="1" class="link-off">Report Abuse or Neglect</a>

                            </li>

                        </ul>

                    </nav>
                </div>

            </div>
            @* <div class="row">
                    <div class="container">
                        <div class="col-sm-12">
                            <p><span class="head">Medicaid State Plan</span></p>
                        </div>
                    </div>
                </div> *@
        </header>
        <!--/HEADER-->
        <!--CONTENT-->
        <div>
            <section id="news" class="accent-blue">
                <div class="">
                    <div class="row">
                        <br />
                    </div>
                    <br />
                    <div class="row">
                        <div class="row main-content">
                            <div class="col-sm-12">
                                <p><span class="head">Page Under Construction....</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="push"></div>
                @* <a href="~/Home/UnderConstructionTop" class="feedback-modal-btn" data-toggle="modal" data-target="#feedback-modal">Feedback</a>
                    <span data-acsb="trigger" class="side-accessibility-btn" title="Accessibility Options">Accessibility</span> *@
            </section>
        </div>
        <!--/CONTENT-->
    </div>
    <!--FOOTER-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="txt">
                    <!--Google Translate-->
                    <div style="text-align:center; display:block; padding: 12px 0 10px 23px; pointer-events:none">
                        <div id="google_translate_element"></div>
                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'de,el,en,es,fr,it,ja,ko,la,tl,vi,zh-CN,zh-TW,ar', gaTrack: true, gaId: 'UA-3632381-1' }, 'google_translate_element');
                            }
                        </script>
                        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    </div>
                    <a href="~/Home/UnderConstructionTop">Privacy Policy</a> | <a href="~/Home/UnderConstructionTop">Disclaimer</a><br>
                    @* <strong>Mailing Address:</strong> Louisiana Department of Health | P. O. Box 629 | Baton Rouge, LA 70821-0629<br><address> *@
                    <strong>Mailing Address:</strong> Kansas Mailing address<br><address>
                        @* <strong>Physical Address:</strong> 628 N. 4th Street | Baton Rouge, LA 70802 | PHONE: 225-342-9500 | FAX: 225-342-5568<br>  <strong>Medicaid Customer Service </strong><em>1-888-342-6207</em> |  <strong>Healthy Louisiana</strong> <em>1-855-229-6848</em> *@
                        <strong>Physical Address:</strong> Office address<br>  <strong>Medicaid Customer Service PROVIDER</strong><em>800 933 6593</em> |  <strong>MEMBER</strong> <em>800 766 9012</em>
                        <br>
                    </address>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        <div id="siteCredits"><a href="Top" target="_blank">Kansas Medicaid Site</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--/FOOTER-->
    @*     <div id="feedback-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div> *@

    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="/js/retina.min.js"></script>
        <script src="/js/navigation.js"></script>
        <script src="/js/jquery.placeholder.min.js"></script>
        <script src="/js/common.js?u=2"></script>
        <script src="/js/feedback.js"></script>
        <script src="/js/subhome_carousel.js?u=1"></script>*@

    @*     <script src="https://www.google.com/recaptcha/api.js?render=explicit"></script>

        <script>
        //accessibility button - code from client
        (function(document, tag) { var script = document.createElement(tag); var element = document.getElementsByTagName('body')[0]; script.src = 'https://acsbap.com/api/app/assets/js/acsb.js'; script.async = true; script.defer = true; (typeof element === 'undefined' ? document.getElementsByTagName('html')[0] : element).appendChild(script); script.onload = function() { acsbJS.init({ statementLink : '', feedbackLink : '', footerHtml : '', hideMobile : false, hideTrigger : true, language : 'en', position : 'right', leadColor : '#0d2b3f', triggerColor : '#16828c', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'center', triggerIcon : 'settings', triggerSize : 'medium', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'left', triggerPositionY : 'center', triggerOffsetX : 0, triggerOffsetY : 0, triggerRadius : '0' } }); };}(document, 'script'));
        </script>
        <script src="https://df-messenger-prod-j6axfe3vgq-ue.a.run.app/index.js"></script> *@
    <!-- SUB HOME -->

</body>
</html>
